body {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  text-align: center;
  background-color: #afeeee61;
}

.header {
  font-size: 3rem;
  padding: 15px;
  padding-bottom: 5px;
  color: #ececec;
  box-shadow: 0 2px 3px 0px #16393e;
  background-color: #16393e;
  margin: 0;
}

.design {
  display: inline-block;
  margin: 20px;
  box-shadow: 6px 6px 10px -3px grey;
}

h4 {
  margin: 6px;
  color: #5e678a;
}

img {
  width: 20rem;
  transition: all 0.25s;
}

.img-box {
  overflow: hidden;
}

hr {
  display: none;
}

@media (max-width:1000px) {
  img {
    width: 50rem;
  }

  h4 {
    font-size: 150%;
  }

  .design {
    margin: 2rem 0;
  }

  hr {
    display: block;
    opacity: 0.6;
    border-color: darkslategrey;
    margin: 2rem auto;
  }
}

a {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.design img:hover {
  transform: scale(1.1);
  transition: transform 0.25s;
}
